/.idea
/out
/WindMeter/gen
/WindMeter/bin
/slidingmenu/gen
/slidingmenu/bin
/actionbarsherlock/gen
/actionbarsherlock/bin
*.class
/android-switch-backport/gen
/android-switch-backport/bin
/facebook/gen
/facebook/bin
/android-switch-backport/gen

/facebook/gen
/SimpleSocialSharing/gen

*.DS_Store
/.metadata